/better.py
/better_test.py
/find_last_el.py
/full_test_09.py
/full_test_10.py
/full_test_11.py
/funcionaparcial.py
/geckodriver.log
/gen_df.py
/get_lenth.py
/get_table_len.py
/megasena.py
/megasena2.py
/megasena3.py
/megasena4.py
/megasena5.py
/megasena6.py
/megasena7.py
/read_csv.py
/test8.py